body{
    background: url(../back2.jpg);
    background-size: cover;
    font-family: 'Slabo', serif;
}    
div{
    width:45%;
    margin:30px auto;
}
.form-control{
    font-size: 17px;
}
.form-control:hover{
      border:2px solid hsla(60, 100%, 50%,0.5);
      
}  
h1{
    color:brown;
}
input{
     margin-bottom:10px;
}   
#btnsav,#btnrem,#btncal{
        display:none;
    }
#tb{
    border:2px solid rgba(10, 167, 240, 0.952);
    color:white;
    font-size: 20px;
}
#table{
    color:blue;
    font-size: 20px;
}